@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Bikely.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "m-topbar__nav m-nav m-nav--inline" }))
    {
        @Html.AntiForgeryToken()

        if (User.IsInRole("Owner"))
        {
            <li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--mobile-full-width" data-dropdown-toggle="click" data-dropdown-persistent="true" aria-expanded="true">
                <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                    <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span>
                    <span class="m-nav__link-icon">
                        <i class="flaticon-music-2"></i>
                    </span>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__header m--align-center" style="background: url(../assets/app/media/img/misc/action-bg.jpg); background-size: cover;">
                            <span class="m-dropdown__header-title">
                                New
                            </span>
                            <span class="m-dropdown__header-subtitle">
                                User Notifications
                            </span>
                        </div>
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_events" role="tab">
                                            Rentals
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                        <div class="m-scrollable" m-scrollabledata-scrollable="true" data-max-height="250" data-mobile-max-height="200">
                                            <div class="m-list-timeline m-list-timeline--skin-light">
                                                <div class="m-list-timeline__items">
                                                    <div class="m-list-timeline__item">
                                                        <span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
                                                        <a class="m-list-timeline__text" href="@Url.Action("Index", "Rentals")">
                                                            Sifarişiniz var
                                                        </a>
                                                        <span class="m-list-timeline__time">
                                                            İndicə
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </li>
        }
        <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click" aria-expanded="true">
            <a href="#" class="m-nav__link m-dropdown__toggle">
                <span class="m-nav__link-icon">
                    <i class="fa fa-user-circle-o"></i>
                </span>
            </a>
            <div class="m-dropdown__wrapper">
                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 12.5px;"></span>
                <div class="m-dropdown__inner">
                    <div class="m-dropdown__header m--align-center" style="background: url(../assets/app/media/img/misc/user-bg.png); background-size: cover;">
                        <div class="m-card-user m-card-user--skin-dark">
                            <div class="m-card-user__pic m--hide">
                                <img src="assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless" alt="">
                            </div>
                            <div class="m-card-user__details">
                                <span class="m-card-user__name m--font-weight-500">
                                    @{
                                        var u = User.Identity;
                                        var uId = u.GetUserId();
                                        var uName = u.GetUserName();
                                        ApplicationDbContext context = new ApplicationDbContext();
                                        var uManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(context));
                                        var uRole = uManager.GetRoles(uId);
                                        if (User.IsInRole("Admin"))
                                        {
                                            uName = "Admin";
                                        }
                                        var role = String.Join(",", uRole).ToString();
                                    }
                                    @uName.First().ToString().ToUpper()@String.Join("", uName.Skip(1)).ToLower()
                                </span>
                                @{
                                    if (String.Join(",", uRole).ToString() == "Renter")
                                    {
                                        <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                            Kirayəçi
                                        </a>
                                    }
                                    else if (String.Join(",", uRole).ToString() == "Owner")
                                    {
                                        <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                            Sahibkar
                                        </a>
                                    }

                                }
                            </div>
                        </div>
                    </div>
                    <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                            <ul class="m-nav m-nav--skin-light">
                                <li class="m-nav__section m--hide">
                                    <span class="m-nav__section-text">
                                        Section
                                    </span>
                                </li>
                                <li class="m-nav__item">
                                    <a class="m-nav__link" href="@Url.Action("Profile","Users", new { userid = uId, roleName = role})">
                                        <i class="m-nav__link-icon flaticon-profile-1" style="color: #c1bfd0 !important;"></i>
                                        <span class="m-nav__link-title">
                                            <span class="m-nav__link-wrap">
                                                <span class="m-nav__link-text">
                                                    Əsas səhifəm
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li class="m-nav__item">
                                    <a class="m-nav__link" href="@Url.Action("Index","Users")">
                                        <i class="m-nav__link-icon flaticon-share" style="color: #c1bfd0 !important;"></i>
                                        <span class="m-nav__link-title">
                                            <span class="m-nav__link-wrap">
                                                <span class="m-nav__link-text">
                                                    İstifadəçilərin siyahısı
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                @{
                                    if (User.IsInRole("Renter"))
                                    {
                                        <li class="m-nav__item">
                                            <a class="m-nav__link" href="@Url.Action("Index","Rentals")">
                                                <i class="m-nav__link-icon flaticon-map-location" style="color: #c1bfd0 !important;"></i>
                                                <span class="m-nav__link-title">
                                                    <span class="m-nav__link-wrap">
                                                        <span class="m-nav__link-text">Kirayələdiklərim </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                    }
                                    else if (User.IsInRole("Owner"))
                                    {
                                        <li class="m-nav__item">
                                            <a class="m-nav__link" href="@Url.Action("Index", "Bikes")">
                                                <i class="m-nav__link-icon flaticon-map-location" style="color: #c1bfd0 !important;"></i>
                                                <span class="m-nav__link-title">
                                                    <span class="m-nav__link-wrap">
                                                        <span class="m-nav__link-text">Velosipedlərim</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                    }
                                }
                                <li class="m-nav__separator m-nav__separator--fit"></li>
                                <li class="m-nav__item">
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn m-btn m-btn--pill m-btn--air m-btn--gradient-from-focus m-btn--gradient-to-danger">
                                        Hesabdan çıx
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
}
else
{
    <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img">
        <a href="@Url.Action("Register", "Account")" class="m-nav__link">
            <span class="m-topbar__username">
                Qeydiyyat
            </span>
        </a>
    </li>
    <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img">
        <a href="@Url.Action("Login", "Account")" class="m-nav__link">
            <span class="m-topbar__username">
                Giriş et
            </span>
        </a>
    </li>

}

<style>
    .m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .m-login__form-sub .m-checkbox {
        color: #cac6da !important;
    }
</style>
