@model Bikely.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_SingleLayout.cshtml";
}

<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-3 m-login--signup" id="m_login" style="background-image: url(../../../assets/app/media/img//bg/bg-2.jpg);">
        <div class="m-grid__item m-grid__item--fluid m-login__wrapper pt-1">
            <div class="m-login__container">
                <div class="m-login__signup">
                    <div class="m-login__head">
                        <h3 class="m-login__title">
                            Qeydiyyat
                        </h3>
                    </div>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "m-login__form m-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group m-form__group m-alert--outline">
                            @Html.TextBoxFor(m => m.Email, new {id = "m_inputmask_9", @class = "form-control m-input",
                            type = "text", placeholder = "Email adres", autocomplete = "off"})
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger"})
                        </div>
                        <div class="form-group m-form__group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control m-input",
                            type = "text", placeholder = "Istifadəçi adı"})
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group m-form__group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control m-input", placeholder = "Parol" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group m-form__group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control m-input", placeholder = "Parolu təkrarlayın" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group m-form__group">

                           @*@Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, "")*@
                            @{ 
                                var roles = (SelectList) ViewData["Roles"];
                            }
                            @Html.DropDownList("UserRoles", roles, "", new { @class = "form-control m-bootstrap-select m_selectpicker", title = "Kirayə verirsiniz yoxsa götürürsünüz?", tabindex = "-98" })

                        </div>
                        <div class="m-login__form-action form-group">
                            <input id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn" value="Təsdiqlə" type="submit" />

                            @Html.ActionLink("Ləğv et", "Index", "Home", null, new { @class = "btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

