@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}


@if (TempData["Condition"] == "registered" && ViewBag.Role == "Not Admin")
{
    <div data-notify="container" class="alert alert-success m-alert animated tada alert-dismissible"
         role="alert" data-notify-position="top-center" style="display: inline-block;
    margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 10000;
    top: 30px; left: 0px; right: 0px; animation-iteration-count: 1;">
        <button type="button" aria-hidden="true" class="close m--hide" data-notify="dismiss"></button>
        <span data-notify="title"></span>
        <span data-notify="message">
            Təbriklər!
            <strong class="m--font-boldest m--font-primary"> @User.Identity.GetUserName().First().ToString().ToUpper()@String.Join("", User.Identity.GetUserName().Skip(1)).ToLower() </strong>
            Qeydiyyat tamamlandı :)
        </span>
        <embed id="soundLogin" src="" autostart="true" width="0" height="0" enablejavascript="true" />
    </div>

    @Html.Partial("_UserListPartial");

}
else if (ViewBag.Role == "Admin")
{
    if (TempData["Condition"] == "Logged")  {
    <div data-notify="container" class="alert alert-success m-alert animated tadaalert-dismissible"
         role="alert" data-notify-position="top-center" style="display: inline-block;
    margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 10000;
    top: 30px; left: 0px; right: 0px; animation-iteration-count: 1;">
        <button type="button" aria-hidden="true" class="close m--hide" data-notify="dismiss"></button>
        <span data-notify="title"></span>
        <span data-notify="message">
            Xoş gördük,
            <strong class="m--font-boldest m--font-primary"> Admin! </strong>
        </span>
        <embed id="soundLogin" src="" autostart="true" width="0" height="0" enablejavascript="true" />
    </div>
    }
    @Html.Partial("_UserListPartial");
}
else
{
    if (TempData["Condition"] == "Logged") {
    <div data-notify="container" class="m-alert animated tada m-alert--icon alert-dismissible m-alert--air m-alert--square alert alert-brand" role="alert" data-notify-position="top-center" style="display: inline-block;
    margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 10000;
    top: 30px; left: 0px; right: 0px; animation-iteration-count: 1;">
        <div class="m-alert__icon">
            <i class="la la-heart"></i>
        </div>
        <div class="m-alert__text">
            Salam,
            <strong class="m--font-boldest m--font-warning">
                @User.Identity.GetUserName().First().ToString().ToUpper()@String.Join("", User.Identity.GetUserName().Skip(1)).ToLower()
            </strong>
            Gününüz xoş keçsin!
        </div>
        <div class="m-alert__close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    }
    @Html.Partial("_UserListPartial");
}

<script>
    setTimeout(function () {
        $('.m-alert').hide();
    }, 8000);
</script>

